@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --grayish-blue: #4e5d73;
  --dark-grayish-blue: #323a49;
  --dark-blue: #1f2632;
  --light-cyan: #cee3e9;
  --neon-green: #52ffa8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
}

.__card {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: var(--dark-grayish-blue);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.advice__no {
  color: var(--neon-green);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}

.advice__text {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--light-cyan);
}

.divider__d {
  margin: 20px auto;
}

.divider__m {
  display: none;
}

.dice__div {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 20px;
  background: var(--neon-green);
  border-radius: 50%;
}

.dice__div:hover {
  transition: .3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 18px 0px #52ffa8;
}

@media (max-width: 768px) {
  .divider__d {
    display: none;
  }

  .divider__m {
    display: block;
    margin: 20px auto;
  }

  .advice__text {
    font-size: 1rem;
  }
}